/* Container */
.container {
    margin: 0 auto;
    max-width: 1000px;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
}
/** Position **/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.fixed {
    position: fixed;
}
/** Z-index **/
.z-10 {
    z-index: 10;
}
/** Flexbox **/
.d-none {
    display: none;
}
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.flex-no-wrap {
    flex-wrap: nowrap;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.row-reverse {
    flex-direction: row-reverse;
}
.flex-50pc {
    flex: 0 0 50%;
}
.flex-100pc {
    flex: 0 0 100%;
}

/* overflow */
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-box {
    overflow: -webkit-box;
}
/** Width / Height **/
.w-100 {
    width: 100%;
}
.width-content {
    width: fit-content;
}
.h-100 {
    height: 100%;
}