/* Text */
.text-no-decoration {
    text-decoration: none;
}
/** Text Postion **/
.center {
    text-align: center;
}
.justify {
    text-align: justify;
}
/** Font Weight **/
.bold {
    font-weight: bold;
}
