/***** Atomic Classes *****/
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}

/** Postion **/
.center {
    text-align: center;
}

/** Typo **/
.bold {
    font-weight: bold;
}

/** Flexbox **/
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: end;
}
.flex-no-wrap {
    flex-wrap: nowrap;
}
.justify-space-around {
    justify-content: space-around;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
/** ?? **/
.w-100 {
    width: 100%;
}
.width-content {
    width: fit-content;
}
.h-100 {
    height: 100%;
}

/* overflow */
.overflow-auto {
    overflow: auto;
}
.overflow-hidden {
    overflow: hidden;
}
.overflow-scroll {
    overflow: scroll;
}
.overflow-box {
    overflow: -webkit-box;
}

/* Border radius */
.border-round {
    border-radius: 50% !important;
}
/* Opacity */
.opacity-50 {
    opacity: 0.5;
}