@import 'variables';

/*** Fonts ***/
@font-face {
    font-family: "Against";
    src:
        local("Against"),
        url(/Applications/MAMP/htdocs/WeShare/WeShare_Front/we-share-vue/public/assets/fonts/against-regular.ttf) format("truetype");
}
@font-face {
    font-family: "Miloner";
    src:
        local("Miloner"),
        url(/Applications/MAMP/htdocs/WeShare/WeShare_Front/we-share-vue/public/assets/fonts/MilonerRegular.ttf) format("truetype");
}

body, * {
    font-family: var(--typo-body);
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* TYPO */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    color: var(--color-tertiary);
}
h1,
.h1 {
    font-size: 28px;
}
h2,
.h2 {
    font-size: 25px;
}
h3,
.h3 {
    font-size: 22px;
}
h1,
.h1,
h2,
.h2,
h3,
.h3{
    font-family: var(--typo-hn);
}
h4,
.h4 {
    font-size: 19px;
}
h5,
.h5 {
    font-size: 17px;
}
h6,
.h6 {
    font-size: 15px;
}
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: var(--typo-body);
}

a,
p {
    color: var(--color-tertiary);
    font-size: 14px;
}

a:hover {
    color: var(--color-tertiary) !important;
}

ion-ripple-effect {
    color: var(--color-primary) !important;
}

/* Font size */
.small {
    font-size: 13px;
}

@media (min-width: 992px) {
    h1,
    .h1 {
        font-size: 53px;
    }
    h2,
    .h2 {
        font-size: 44px;
    }
    h3,
    .h3 {
        font-size: 37px;
    }
    h4,
    .h4 {
        font-size: 31px;
    }
    h5,
    .h5 {
        font-size: 25px;
    }
    h6,
    .h6 {
        font-size: 21px;
    }
    a,
    p {
        font-size: 16px;
    }
}

.searchbar-input.sc-ion-searchbar-md {
    border-radius: var(--border-radius);
}

@media (any-hover: hover) {
    a:hover {
        color: var(--color-tertiary) !important;
    }
}