@use 'variables';

/* Header */
.search-header {
    position: fixed;
    overflow: hidden;
    z-index: 20;
}
/*** Button Filter ***/
.search-header-filters button {
    width: 40px;
    height: 40px;
    border-radius: 26px;
}
/*** SEC - Card LISTING ***/ 
.sec-cards-listing {
    padding: 250px 20px 10px;

    .cp-card-activity-home {
        margin: 0 9px 20px;
        flex: 0 0 46%;
    }
}
/*** Modal ***/
ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: var(--color-mustard);
    --color: white;
}
.sec-card-activity__btn-add button {
    background: var(--color-primary);
}

/* Media - Mobile XS */
@media (max-width: 576px) {
    /* Card LISTING */
    .sec-cards-listing {
    
        .cp-card-activity-home {
            margin-bottom: 20px;
            flex: 0 0 100%;
        }
    }
}

/* Media - Desktop */
@media (min-width: 992px) {
    /* Card LISTING */
    .sec-cards-listing {
        padding-top: 300px;
        .cp-card-activity-home {
            margin: 0 15px 20px;
            flex: 0 0 30%;
        }
    }
}