@use 'variables';
@import 'mixins';


/* Header */
.sec-search-header {
    position: fixed;
    overflow: hidden;
    z-index: 20;
    @include bck-header-banner;
    padding-bottom: 30px;

    /*** Button Filter ***/
    .sec-search-header__content__modal button {
        width: 40px;
        height: 40px;
        border-radius: 26px;
    }
}

/*** SEC - Card LISTING ***/ 
.sec-cards-listing {
    padding: 250px 20px 10px;

    .cp-card-activity {
        margin: 0 9px 20px;
        flex: 0 0 46%;
    }
}
/*** Modal ***/
ion-modal {
    --height: 50%;
    --border-radius: 16px;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
    background: rgba(209, 213, 219);
    opacity: 1;
}

ion-modal ion-toolbar {
    --background: var(--color-mustard);
    --color: white;
}
.sec-card-activity__btn-add button {
    background: var(--color-primary);
}

/*** SEC - BTN FAVORITE ***/
.sec-activity-post__header__btn-like {

    #main-content{
      display:flex;
      align-items:center;
      justify-content:center;
      text-align:center;
    }

    svg{
      cursor:pointer; overflow:visible; width:60px;
      #heart{transform-origin:center; animation:animateHeartOut .3s linear forwards;}
      #main-circ{transform-origin:29.5px 29.5px;}
    }
    
    #checkbox{display:none;}
    
    #checkbox:checked + label svg{
        #heart{transform:scale(.2); fill:#E2264D; animation:animateHeart .3s linear forwards .25s;}
        #main-circ{transition:all 2s; animation:animateCircle .3s linear forwards; opacity:1;}
        #grp1{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(0, -30px);
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(10px, -50px);
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp2{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(30px, -15px); 
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(60px, -15px); 
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp3{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(30px, 0px);
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(60px, 10px);
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp4{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(30px, 15px);
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(40px, 50px);
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp5{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(-10px, 20px);
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(-60px, 30px);
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp6{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(-30px, 0px);
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(-60px, -5px);
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp7{
          opacity:1; transition:.1s all .3s;
          #oval1{
            transform:scale(0) translate(-30px, -15px);
            transform-origin:0 0 0;
            transition:.5s transform .3s;}
          #oval2{
            transform:scale(0) translate(-55px, -30px);
            transform-origin:0 0 0;
            transition:1.5s transform .3s;}
        }
        #grp2{opacity:1; transition:.1s opacity .3s;}
        #grp3{opacity:1; transition:.1s opacity .3s;}
        #grp4{opacity:1; transition:.1s opacity .3s;}
        #grp5{opacity:1; transition:.1s opacity .3s;}
        #grp6{opacity:1; transition:.1s opacity .3s;}
        #grp7{opacity:1; transition:.1s opacity .3s;}
    }
    
    @keyframes animateCircle{
      40%{transform:scale(10); opacity:1; fill:#DD4688;}
      55%{transform:scale(11); opacity:1; fill:#D46ABF;}
      65%{transform:scale(12); opacity:1; fill:#CC8EF5;}
      75%{transform:scale(13); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.5;}
      85%{transform:scale(17); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.2;}
      95%{transform:scale(18); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:.1;}
      100%{transform:scale(19); opacity:1; fill:transparent; stroke:#CC8EF5; stroke-width:0;}
    }
    
    @keyframes animateHeart{
      0%{transform:scale(.2);}
      40%{transform:scale(1.2);}
      100%{transform:scale(1);}
    }
    
    @keyframes animateHeartOut{
      0%{transform:scale(1.4);}
      100%{transform:scale(1);}
    }
}

/* Media - Mobile XS */
@media (max-width: 576px) {
    /* Card LISTING */
    .sec-cards-listing {
    
        .cp-card-activity {
            margin-bottom: 20px;
            flex: 0 0 100%;
        }
    }
}

/* Media - Desktop */
@media (min-width: 992px) {
    /* Card LISTING */
    .sec-cards-listing {
        padding-top: 300px;
        .cp-card-activity {
            margin: 0 15px 20px;
            flex: 0 0 30%;
        }
    }
}