/*** SEC FORM ***/
.sec-prepare__form {
	.sec-prepare__form__buttons__btn-prev,
	.sec-prepare__form__buttons__btn-next {
		flex: 0 0 48%;
	}
	.sec-prepare__form__button-value.active {
		border: 1px solid red;
	}
}

/*form styles*/
#multiStepForm {

	/*progressbar*/
	#progressbar {

		li {
			list-style-type: none;
			color: var(--color-tertiary);
			text-transform: uppercase;
			font-size: 9px;
			width: 13.33%;
			float: left;
			position: relative;
			background-color: var(--color-primary);
			width: fit-content;
			padding: 15px;
			border-radius: 10%;
		}
		li.active {
			background-color: var(--color-mustard);
		}
	}

	text-align: center;
	position: relative;

	fieldset {
		background: white;
		border: 0 none;
		border-radius: 3px;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
		padding: 20px 30px;
		box-sizing: border-box;
		width: 80%;
		margin: 0 10%;
		position: relative;
	}
	fieldset {
	overflow: hidden;
	transition: height 0.5s ease-in-out;
	}
	
	fieldset.show {
	height: auto;
	}
	
}