/*** SEC FORM ***/
.sec-prepare__form {
	.sec-prepare__form__buttons__btn-prev,
	.sec-prepare__form__buttons__btn-next {
		flex: 0 0 48%;
	}
	.sec-prepare__form__button-value.active {
		border: 1px solid red;
	}
}

/*form styles*/
#multiStepForm {
	text-align: center;
	position: relative;

	fieldset {
		background: white;
		border: 0 none;
		border-radius: 3px;
		box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
		padding: 20px 30px;
		box-sizing: border-box;
		width: 80%;
		margin: 0 10%;
		position: relative;
	}
	fieldset {
	overflow: hidden;
	transition: height 0.5s ease-in-out;
	}
	
	fieldset.show {
	height: auto;
	}
	/*progressbar*/
	#progressbar {
		margin-bottom: 30px;
		overflow: hidden;
		/*CSS counters to number the steps*/
		counter-reset: step;
		li {
			list-style-type: none;
			color: var(--color-tertiary);
			text-transform: uppercase;
			font-size: 9px;
			width: 13.33%;
			float: left;
			position: relative;
		}
		li:before {
			content: counter(step);
			counter-increment: step;
			width: 20px;
			line-height: 20px;
			display: block;
			font-size: 10px;
			color: #333;
			background: var(--color-primary);
			border-radius: 3px;
			margin: 0 auto 5px auto;
		}
		li:after {
			content: '';
			width: 100%;
			height: 2px;
			background: var(--color-primary);
			position: absolute;
			left: -50%;
			top: 9px;
			z-index: -1; /*put it behind the numbers*/
		}
		li:first-child:after {
			/*connector not needed before the first step*/
			content: none; 
		}
		li.active:before,  #progressbar li.active:after{
			background: var(--color-mustard);
			color: var(--color-tertiary);
		}

	}
}