/*** Margin ***/
/* Top */
.mt-20 {
  margin-top: 20px;
}
.mt-50 {
  margin-top: 50px;
}
/* Right */
.mr-10 {
  margin-right: 10px;
}
.mr-20 {
  margin-right: 20px;
}
/* Bottom */
.mb-20 {
  margin-bottom: 20px;
}
.mb-35 {
  margin-bottom: 35px;
}
.mb-50 {
  margin-bottom: 50px;
}
.mb-120 {
  margin-bottom: 120px;
}
/* Left */
.ml-10 {
  margin-right: 10px;
}

/*** Padding ***/
/* all */
.p-20 {
  padding: 20px;
}

/* Bottom */
.pb-20 {
  padding-bottom: 20px;
}