/** CSS Variables **/
:root {
  /** Font **/
  --typo-hn: "Against";
  --typo-body: "Miloner";

  /** primary **/
  --color-primary: #c8d1ce;
  --color-primary-rgb: 200, 209, 206;

  /** secondary **/
  --color-secondary: #e4ede8;
  --color-secondary-rgb: 228, 237, 232;

  /** tertiary **/
  --color-tertiary: #212738;
  --color-tertiary-rgb: 33, 39, 56;

  /** mustard **/
  --color-mustard: #d8ad5c;
  --color-mustard-rgb: 216, 173, 92;
  
  /** Border Radius **/
  --border-radius: 20px;

  /** Spacing **/

}