.card-activity__image {
    height: 190px;
    width: 100%;
}
.card-activity__image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 992px) {
    .card-activity__image {
        height: 250px;
    }
}