/***** Atomic Classes *****/
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/** Postion **/
.center {
  text-align: center;
}

/** Typo **/
.bold {
  font-weight: bold;
}

/** Flexbox **/
.d-flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-center {
  align-items: center;
}

.align-end {
  align-items: end;
}

.flex-no-wrap {
  flex-wrap: nowrap;
}

.justify-space-around {
  justify-content: space-around;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

/** ?? **/
.w-100 {
  width: 100%;
}

.width-content {
  width: fit-content;
}

.h-100 {
  height: 100%;
}

/* overflow */
.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-scroll {
  overflow: scroll;
}

.overflow-box {
  overflow: -webkit-box;
}

/* Border radius */
.border-round {
  border-radius: 50% !important;
}

.opacity-50 {
  opacity: 0.5;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/** CSS Variables **/
:root {
  /** Font **/
  --typo-hn: "Against";
  --typo-body: "Miloner";
  /** primary **/
  --color-primary: #c8d1ce;
  --color-primary-rgb: 200, 209, 206;
  --ion-color-primary: #d8ad5c;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c8d1ce;
  --ion-color-primary-tint: #c8d1ce;
  /** secondary **/
  --color-secondary: #e4ede8;
  --color-secondary-rgb: 228, 237, 232;
  --ion-color-secondary: #e4ede8;
  /** secondary dark 
  --color-secondary-dark: #a7c2bd;
  --color-secondary-dark-rgb: 228, 237, 232;
  **/
  /** tertiary **/
  --color-tertiary: #212738;
  --color-tertiary-rgb: 33, 39, 56;
  --ion-color-tertiary: #212738;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #212738;
  --ion-color-tertiary-tint: #212738;
  /** mustard **/
  --color-mustard: #d8ad5c;
  --color-mustard-rgb: 216, 173, 92;
  --background-checked: #212738;
  /** Border Radius **/
  --border-radius: 20px;
  /** Spacing **/
}

/*** Fonts ***/
@font-face {
  font-family: "Against";
  src: local("Against"), url(/Applications/MAMP/htdocs/WeShare/WeShare_Front/we-share-vue/public/assets/fonts/against-regular.ttf) format("truetype");
}
@font-face {
  font-family: "Miloner";
  src: local("Miloner"), url(/Applications/MAMP/htdocs/WeShare/WeShare_Front/we-share-vue/public/assets/fonts/MilonerRegular.ttf) format("truetype");
}
body, * {
  font-family: var(--typo-body);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* TYPO */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-tertiary);
}

h1,
.h1 {
  font-size: 28px;
}

h2,
.h2 {
  font-size: 25px;
}

h3,
.h3 {
  font-size: 22px;
}

h1,
.h1,
h2,
.h2,
h3,
.h3 {
  font-family: var(--typo-hn);
}

h4,
.h4 {
  font-size: 19px;
}

h5,
.h5 {
  font-size: 17px;
}

h6,
.h6 {
  font-size: 15px;
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: var(--typo-body);
}

a,
p {
  color: var(--color-tertiary);
  font-size: 14px;
}

a:hover {
  color: var(--color-tertiary) !important;
}

ion-ripple-effect {
  color: var(--color-primary) !important;
}

/* Font size */
.small {
  font-size: 13px;
}

@media (min-width: 992px) {
  h1,
.h1 {
    font-size: 53px;
  }
  h2,
.h2 {
    font-size: 44px;
  }
  h3,
.h3 {
    font-size: 37px;
  }
  h4,
.h4 {
    font-size: 31px;
  }
  h5,
.h5 {
    font-size: 25px;
  }
  h6,
.h6 {
    font-size: 21px;
  }
  a,
p {
    font-size: 16px;
  }
}
.searchbar-input.sc-ion-searchbar-md {
  border-radius: var(--border-radius);
}

/*** Butons ***/
.button-basic {
  border-radius: var(--border-radius);
  color: var(--color-tertiary);
  width: 100%;
  padding: 18px;
}

.button-basic.button-primary {
  background-color: var(--color-primary);
}

.button-basic.button-secondary {
  border: 1px solid var(--color-primary);
}

.button-basic.button-mustard {
  background-color: var(--color-mustard);
}

@media (min-width: 992px) {
  .button-basic {
    width: fit-content;
  }
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-tertiary) !important;
  }
}
/*** Margin ***/
.m-0 {
  margin: 0 auto;
}

/* Top */
.mt-5 {
  margin-top: 5px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-74 {
  margin-top: 74px;
}

/* Right */
.mr-10 {
  margin-right: 10px;
}

.mr-20 {
  margin-right: 20px;
}

/* Bottom */
.mb-20 {
  margin-bottom: 20px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mb-120 {
  margin-bottom: 120px;
}

/* Left */
.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

/*** Padding ***/
/* all */
.p-20 {
  padding: 20px;
}

/* Bottom */
.pb-20 {
  padding-bottom: 20px;
}

/*** Spacing Section ***/
.p-sec {
  padding: 30px 0;
}

/** CSS Variables **/
:root {
  /** Font **/
  --typo-hn: "Against";
  --typo-body: "Miloner";
  /** primary **/
  --color-primary: #c8d1ce;
  --color-primary-rgb: 200, 209, 206;
  --ion-color-primary: #d8ad5c;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c8d1ce;
  --ion-color-primary-tint: #c8d1ce;
  /** secondary **/
  --color-secondary: #e4ede8;
  --color-secondary-rgb: 228, 237, 232;
  --ion-color-secondary: #e4ede8;
  /** secondary dark 
  --color-secondary-dark: #a7c2bd;
  --color-secondary-dark-rgb: 228, 237, 232;
  **/
  /** tertiary **/
  --color-tertiary: #212738;
  --color-tertiary-rgb: 33, 39, 56;
  --ion-color-tertiary: #212738;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #212738;
  --ion-color-tertiary-tint: #212738;
  /** mustard **/
  --color-mustard: #d8ad5c;
  --color-mustard-rgb: 216, 173, 92;
  --background-checked: #212738;
  /** Border Radius **/
  --border-radius: 20px;
  /** Spacing **/
}

/* Tab Nav */
.tab-selected {
  border-top: 2px solid var(--color-mustard);
  color: var(--color-tertiary);
}

.tab-has-label a:hover {
  color: var(--color-primary);
}

.search-header {
  background-color: var(--color-primary);
  border-bottom-right-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.cp-card-activity {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 280px;
  border-radius: 20px;
}
.cp-card-activity .cp-card-activity__content {
  position: relative;
  padding: 20px 30px;
}
.cp-card-activity .cp-card-activity__content .cp-card-activity__content__location,
.cp-card-activity .cp-card-activity__content .cp-card-activity__content__name,
.cp-card-activity .cp-card-activity__content .cp-card-activity__content__rate {
  position: relative;
  z-index: 3;
}
.cp-card-activity .cp-card-activity__content:before {
  position: absolute;
  content: "";
  background: white;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  border-radius: 0 20px 20px 0;
}

/* Media XS Mobile */
@media (max-width: 576px) {
  .cp-card-activity__content:before {
    width: 80%;
  }
}
.cp-tag-category {
  background: var(--color-secondary);
  border-radius: 34px;
  width: fit-content;
  padding: 8px;
  /* Icon */
  /* Text */
}
.cp-tag-category .cp-tag-category__icon {
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.cp-tag-category .cp-tag-category__icon svg {
  width: 30px;
  height: 30px;
}
.cp-tag-category .cp-tag-category__text {
  white-space: nowrap;
}

/*** SEC - SEARCH ***/
.sec-home-search ion-searchbar.custom {
  --background: var(--color-primary);
  --color: var(--color-tertiary);
  --placeholder-color: var(--color-tertiary);
  --icon-color: #fff;
  --clear-button-color: #fff;
  --border-radius: 4px;
}

/*** SEC - TOP RATED ***/
.sec-home-top-rated .sec-home-top-rated__cards,
.sec-home-top-rated .sec-home-near-by__cards,
.sec-home-near-by .sec-home-top-rated__cards,
.sec-home-near-by .sec-home-near-by__cards {
  margin: 0 -15px;
  overflow: scroll;
}
.sec-home-top-rated .sec-home-top-rated__cards .cp-card-activity,
.sec-home-top-rated .sec-home-near-by__cards .cp-card-activity,
.sec-home-near-by .sec-home-top-rated__cards .cp-card-activity,
.sec-home-near-by .sec-home-near-by__cards .cp-card-activity {
  margin-right: 20px;
  flex: 0 0 60%;
}
.sec-home-top-rated .sec-home-top-rated__cards .cp-card-activity:first-child,
.sec-home-top-rated .sec-home-near-by__cards .cp-card-activity:first-child,
.sec-home-near-by .sec-home-top-rated__cards .cp-card-activity:first-child,
.sec-home-near-by .sec-home-near-by__cards .cp-card-activity:first-child {
  margin-left: 15px;
}

/*** SEC - CATEGORY LIST ***/
.sec-home-categories .sec-home-categories__list {
  overflow: scroll;
  margin: 0 -15px;
}
.sec-home-categories .sec-home-categories__list .cp-tag-category:first-child {
  margin-left: 15px;
}

/*** Media XS Mobile ***/
@media (max-width: 576px) {
  .sec-home-top-rated__cards .cp-card-activity {
    flex: 0 0 78%;
  }
}
/*** Media Desktop ***/
@media (min-width: 992px) {
  .sec-home-top-rated__cards .cp-card-activity {
    flex: 0 0 36%;
  }
}
/*** SEC - HEADER ***/
.sec-profile-header {
  background: var(--color-primary);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}
.sec-profile-header .sec-profile-header__content .sec-profile-header__content__picture {
  border-radius: 50%;
  width: 95px;
  height: 95px;
}
.sec-profile-header .sec-profile-header__content .sec-profile-header__content__picture img {
  object-fit: cover;
}

/*** SEC - TABS ***/
.sec-profile-tabs .cp-tabs .tab-title.active:after {
  position: absolute;
  content: "";
  width: 110px;
  height: 2px;
  background-color: var(--color-mustard);
  left: -17px;
  right: 0;
  bottom: -6px;
}
.sec-profile-tabs .cp-tabs .cp-tab-content__tab-1 {
  flex: 0 0 50%;
}

@media (max-width: 576px) {
  .sec-profile-tabs .cp-tabs .cp-tab-content__tab-1 {
    flex: 0 0 100%;
  }
}
@media (min-width: 992px) {
  .sec-profile-tabs .cp-tabs .tab-title:hover {
    cursor: pointer;
  }
  .sec-profile-tabs .cp-tabs .cp-tab-content__tab-1 {
    flex: 0 0 30%;
    margin-left: 15px;
    margin-right: 15px;
  }
}
/** CSS Variables **/
:root {
  /** Font **/
  --typo-hn: "Against";
  --typo-body: "Miloner";
  /** primary **/
  --color-primary: #c8d1ce;
  --color-primary-rgb: 200, 209, 206;
  --ion-color-primary: #d8ad5c;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #c8d1ce;
  --ion-color-primary-tint: #c8d1ce;
  /** secondary **/
  --color-secondary: #e4ede8;
  --color-secondary-rgb: 228, 237, 232;
  --ion-color-secondary: #e4ede8;
  /** secondary dark 
  --color-secondary-dark: #a7c2bd;
  --color-secondary-dark-rgb: 228, 237, 232;
  **/
  /** tertiary **/
  --color-tertiary: #212738;
  --color-tertiary-rgb: 33, 39, 56;
  --ion-color-tertiary: #212738;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-shade: #212738;
  --ion-color-tertiary-tint: #212738;
  /** mustard **/
  --color-mustard: #d8ad5c;
  --color-mustard-rgb: 216, 173, 92;
  --background-checked: #212738;
  /** Border Radius **/
  --border-radius: 20px;
  /** Spacing **/
}

/* Header */
.sec-search-header {
  position: fixed;
  overflow: hidden;
  z-index: 20;
  background: var(--color-primary);
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding-bottom: 30px;
  /*** Button Filter ***/
}
.sec-search-header .sec-search-header__content__modal button {
  width: 40px;
  height: 40px;
  border-radius: 26px;
}

/*** SEC - Card LISTING ***/
.sec-cards-listing {
  padding: 250px 20px 10px;
}
.sec-cards-listing .cp-card-activity {
  margin: 0 9px 20px;
  flex: 0 0 46%;
}

/*** Modal ***/
ion-modal {
  --height: 50%;
  --border-radius: 16px;
  --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

ion-modal::part(backdrop) {
  background: rgb(209, 213, 219);
  opacity: 1;
}

ion-modal ion-toolbar {
  --background: var(--color-mustard);
  --color: white;
}

.sec-card-activity__btn-add button {
  background: var(--color-primary);
}

/* Media - Mobile XS */
@media (max-width: 576px) {
  /* Card LISTING */
  .sec-cards-listing .cp-card-activity {
    margin-bottom: 20px;
    flex: 0 0 100%;
  }
}
/* Media - Desktop */
@media (min-width: 992px) {
  /* Card LISTING */
  .sec-cards-listing {
    padding-top: 300px;
  }
  .sec-cards-listing .cp-card-activity {
    margin: 0 15px 20px;
    flex: 0 0 30%;
  }
}
/* SEC - Header */
.sec-activity-post__header {
  background-image: url("https://images.pexels.com/photos/5098033/pexels-photo-5098033.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 300px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.sec-activity-post__header .sec-activity-post__header__btn-back,
.sec-activity-post__header .sec-activity-post__header__btn-like {
  z-index: 5;
}

.sec-activity-post__header:before {
  position: absolute;
  inset: 0;
  content: "";
  background: var(--color-primary);
  opacity: 30%;
  z-index: 1;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* SEC - Content */
.sec-activity-post__content,
.sec-activity-post__reviews {
  padding: 20px 30px;
}

.sec-activity-post__content {
  /* Duration */
  /* Infos */
}
.sec-activity-post__content .sec-activity-post__content__heading__duration__icon svg {
  width: 20px;
  height: 20px;
}
.sec-activity-post__content .sec-activity-post__content__infos {
  /*** CP - Category ***/
}
.sec-activity-post__content .sec-activity-post__content__infos .cp-tag-category {
  min-width: 143px;
  padding: 6px;
}
.sec-activity-post__content .sec-activity-post__content__infos .cp-tag-category .cp-tag-category__icon {
  padding: 8px;
}
.sec-activity-post__content .sec-activity-post__content__infos .cp-tag-category .cp-tag-category__icon svg {
  width: 26px;
  height: 26px;
}

/* Reviews */
.sec-activity-post__reviews {
  border-top: 1px solid var(--color-primary);
}

/* Media - Desktop */
@media (min-width: 992px) {
  /* SEC - Header */
  .sec-activity-post__header {
    height: 395px;
  }
}

/*# sourceMappingURL=main.css.map */
