/** Ionic CSS Variables **/
:root {
  /** Font **/
  --ion-typo-hn: "Against";
  --ion-typo-body: "Miloner";

  /** primary **/
  --ion-color-primary: #c8d1ce;
  --ion-color-primary-rgb: 200, 209, 206;

  /** secondary **/
  --ion-color-secondary: #e4ede8;
  --ion-color-secondary-rgb: 228, 237, 232;

  /** tertiary **/
  --ion-color-tertiary: #212738;
  --ion-color-tertiary-rgb: 33, 39, 56;

  /** mustard **/
  --ion-color-mustard: #d8ad5c;
  --ion-color-mustard-rgb: 216, 173, 92;
  
  /** Border Radius **/
  --ion-border-radius: 20px;

  /** Spacing **/

}